node_modules
.DS_Store
/src/dist
src/ios/Plugin/Pods/
demo/android/app/src/main/assets
.idea
.gradle
.settings
.project
demo/www
demo/android/app/build
src/android/ovos-media-fancy-notifications/build
package-lock.json
